$heading-font: "Lobster", cursive;
$text-font: "Open Sans Condensed", sans-serif;

$text-background: #d80e0e;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
} 

.container {
    max-width: 75%;
    height: auto;
    margin: 0 auto; 
}

header {
    width: 100%;
    min-height: 7em;
    padding: 0 20px 10px;
    background: $text-background;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    h1 {
        font-family: $heading-font;
        font-size: 70px;
        color: #000; 
    }

    nav {

        .item {
            display: inline-block;
            height: 100%;
            padding: 0 5px;
            margin: 0 5px;
            background: #000;
            border-radius: 0 0 20px 20px; 
    
            img {
                width: 1.875em;
                margin-top: 4.1em; 
            }
        }
    }
}

.content {
    width: 100%;
    min-height: 30em;
    margin-top: 1.875em;
    padding: 1.875em;
    background: #000;
    border-radius: 10px;
    font-family: $text-font;
    font-size: 14px;
    color: #fff;
    text-align: justify;
    display: flex;
    flex-flow: row wrap;


    img {
        width: 30%;
        height: 30%;
        margin-bottom: 10px;
    }

    .topRight {
        width: 70%;
        display: flex;
        flex-flow: column wrap; 
        margin-bottom: 10px;

        h2 {
            width: 140px;
            padding: 0 10px;
            margin-bottom: 10px;
            background: #fff;
            color: #000;
            font-family: $heading-font;
            font-size: 30px;
            align-self: flex-end;

            
        }
    }
   

    .column {
        width: 33%;
        padding: 0 10px;
        border-right: 1px solid #fff; 
    
        &.column:last-child {
            border: none; 
        }
 
        h3 {
            font-size: 18px;
            padding: 5px;
            margin-bottom: 10px;
            font-family: $heading-font;
            background: $text-background; 
        }

        p {
            line-height: 1.2em; 
        }

        a.readMore {
            display: inline-block;
            margin-top: 5px;
            padding: 0 10px;
            background: #fff;
            color: #000;
            text-decoration: none;
            font-weight: bold; 
        }
    }
}

footer {
    width: 100%;
    float: left;
    margin-top: 1.875em;
    padding: 10px 10px 5px;
    border-radius: 10px;
    background: #fff; 
}

@media only screen and (max-width: 820px) {
    .container{
        max-width: 85%;

        header {
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            
            h1 {
                padding-bottom: 5px; 
            }
    
            nav{
                .item {
                    border-radius: 20px 20px 20px 20px; 
        
                }
            }
        }
    
        .content {
            justify-content: center;
    
            .topRight{
                width: 100%;
                background: url(../images/music.jpg) no-repeat center center;
                background-size: cover;
                h2 {
                    align-self: center;
                    width: 100%;
                    text-align: center;
                }    
            }
        
            img {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .container{
        max-width: 95%;

        header {
            padding: 0 10px 10px;
        }
    
        .content {
            .column {
                width: 100%;
                border-right: none;
                padding: 10px 0;
            }
        }
    }
}